<?php

/**
 *  Database Configuration
 *  Copy this file to "database.php" (cp database.php.example database.php)
 */


return [
    'default' => 'mysql',
    
    'connections' => [
        'mysql' => [
            'driver' => 'mysql',
            'host' => '127.0.0.1',
            'port' => '3306',
            'database' => 'racine',
            'user' => 'root',
            'password' => '',
            'charset' => 'utf8'
        ]
    ]
];